# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=""
REDIS_URL=""
PASSWORD_COOKIE_SECRET=""
POSTGRES_PRISMA_URL=
BETTER_STACK_LOGS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_CALLBACK_URL=
DIGITAL_OCEAN_ENDPOINT_URL=
DIGITAL_OCEAN_REGION=
DIGITAL_OCEAN_API_ID=
DIGITAL_OCEAN_API_KEY=
DIGITAL_OCEAN_BUCKET=

PINATA_API_KEY=your_api_key_here
PINATA_SECRET_KEY=your_secret_key_here
PINATA_GATEWAY_URL=your_gateway_name_here

PRISMA_FIELD_ENCRYPTION_KEY=your_encryption_key_here

# MyQA
MARKETPLACE_PROGRAM_ID=
MARKETPLACE_AUTHORITY_PUBLIC_KEY="The public key that deployed the marketplace program"

# Solana
# devnet, testnet, mainnet, localnet
SOLANA_NETWORK=http://localhost:8899
SOLANA_RPC_URL=localnet

