node_modules

.cache
server/build
public/build
.env.*
.env
!.env.example
!.env.test
build
build
app/styles
build/index.js
coverage/
coverage
.invalid
.vercel/remix-build-result.json
.env.dev
**/*/.DS_STORE
.DS_STORE

.anchor
target
**/*.rs.bk
test-ledger
.yarn

*.log
*.json
!railway.json

!app/app/lib/idl/*