@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 274 100% 95%;
    --foreground: 274 5% 10%;
    --card: 274 50% 90%;
    --card-foreground: 274 5% 15%;
    --popover: 274 100% 95%;
    --popover-foreground: 274 100% 10%;
    --primary: 274 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 274 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 236 30% 85%;
    --muted-foreground: 274 5% 36%;
    --accent: 236 30% 80%;
    --accent-foreground: 274 5% 15%;
    --destructive: 0 100% 36%;
    --destructive-foreground: 274 5% 90%;
    --border: 274 30% 50%;
    --input: 274 30% 36%;
    --ring: 274 100% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 274 50% 10%;
    --foreground: 274 5% 90%;
    --card: 274 50% 10%;
    --card-foreground: 274 5% 90%;
    --popover: 274 50% 5%;
    --popover-foreground: 274 5% 90%;
    --primary: 274 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 274 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 236 30% 25%;
    --muted-foreground: 274 5% 60%;
    --accent: 236 30% 25%;
    --accent-foreground: 274 5% 90%;
    --destructive: 0 100% 36%;
    --destructive-foreground: 274 5% 90%;
    --border: 274 30% 36%;
    --input: 274 30% 36%;
    --ring: 274 100% 50%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 3s linear infinite;
}
